<!-- This example requires Tailwind CSS v2.0+ -->
<div
  class="fixed z-10 inset-0 overflow-y-auto"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
>
  <div
    class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
  >
    <!--
      Background overlay, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div
      class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
      aria-hidden="true"
    ></div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span
      class="hidden sm:inline-block sm:align-middle sm:h-screen"
      aria-hidden="true"
      >&#8203;</span
    >

    <!--
      Modal panel, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        To: "opacity-100 translate-y-0 sm:scale-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100 translate-y-0 sm:scale-100"
        To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
    -->
    <div
      class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6"
    >
      <div class="hidden sm:block absolute top-0 right-0 pt-4 pr-4">
        <button
          (click)="closePopup()"
          type="button"
          class="bg-white rounded-md text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-dodger-blue-500"
        >
          <span class="sr-only">Close</span>
          <!-- Heroicon name: outline/x -->
          <svg
            class="h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      <div class="sm:flex sm:items-start">
        <div class="max-w-md mx-auto sm:max-w-3xl">
          <div>
            <form class="mt-6 sm:flex sm:items-center" action="#">
              <label for="emails" class="sr-only">Email addresses</label>
              <div class="relative rounded-md shadow-sm sm:min-w-0 sm:flex-1">
                <input
                  type="text"
                  name="emails"
                  id="emails"
                  [(ngModel)]="this.postService.tagSearchQuery"
                  (input)="searchAlgolia()"
                  class="focus:ring-dodger-blue-500 focus:border-dodger-blue-500 block w-full pr-32 sm:text-sm border-gray-300 rounded-md"
                  placeholder="Seach For Users"
                />
              </div>
            </form>
          </div>
          <div class="mt-10">
            <h3
              class="text-xs font-semibold text-gray-500 uppercase tracking-wide"
            >
              Users
            </h3>
            <ul role="list" class="mt-4 grid grid-cols-1 gap-4 sm:grid-cols-2">
              <li *ngFor="let user of this.postService.tagSearchResults">
                <button
                  (click)="addTotagSearchResultArray(user)"
                  type="button"
                  class="group p-2 w-full flex items-center justify-between rounded-full border border-gray-300 shadow-sm space-x-3 text-left hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-dodger-blue-500"
                >
                  <span class="min-w-0 flex-1 flex items-center space-x-3">
                    <span class="block flex-shrink-0">
                      <app-avatar
                        [routerLink]="['/v/user', user.id]"
                        *ngIf="user"
                        [user]="user"
                        class="cursor-pointer"
                        avatarStyle="h-8 w-8 rounded-full ring-4 ring-white sm:h-10 sm:w-10"
                      ></app-avatar>
                    </span>
                    <span class="block min-w-0 flex-1">
                      <span
                        *ngIf="user.firstName || user.lastName"
                        class="block text-sm font-medium text-gray-900 truncate"
                        >{{ user.firstName }} {{ user.lastName }}</span
                      >
                      <span
                        *ngIf="user.userName"
                        class="block text-sm font-medium text-gray-500 truncate"
                        >{{ user.userName }}</span
                      >
                    </span>
                  </span>
                  <span
                    class="flex-shrink-0 h-10 w-10 inline-flex items-center justify-center"
                  >
                    <!-- Heroicon name: solid/plus -->
                    <svg
                      class="h-5 w-5 text-gray-400 group-hover:text-gray-500"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </span>
                </button>
              </li>
              <li
                *ngFor="
                  let user of this.postService.tagSearchResultArray
                "
              >
                <button
                  (click)="removeFromtagSearchResultArray(user)"
                  type="button"
                  class="group p-2 w-full flex items-center justify-between rounded-full border border-gray-300 shadow-sm space-x-3 text-left hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-dodger-blue-500"
                >
                  <span class="min-w-0 flex-1 flex items-center space-x-3">
                    <span class="block flex-shrink-0">
                      <app-avatar
                        [routerLink]="['/v/user', user.id]"
                        *ngIf="user"
                        [user]="user"
                        class="cursor-pointer"
                        avatarStyle="h-8 w-8 rounded-full ring-4 ring-white sm:h-10 sm:w-10"
                      ></app-avatar>
                    </span>
                    <span class="block min-w-0 flex-1">
                      <span
                        *ngIf="user.firstName || user.lastName"
                        class="block text-sm font-medium text-gray-900 truncate"
                        >{{ user.firstName }} {{ user.lastName }}</span
                      >
                      <span
                        *ngIf="user.userName"
                        class="block text-sm font-medium text-gray-500 truncate"
                        >{{ user.userName }}</span
                      >
                    </span>
                  </span>
                  <span
                    class="flex-shrink-0 h-10 w-10 inline-flex items-center justify-center"
                  >
                    <!-- Heroicon name: solid/plus -->
                    <svg
                      class="h-5 w-5 text-gray-400 group-hover:text-gray-500"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M6 18L18 6M6 6l12 12"
                      />
                    </svg>
                  </span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
