<!--
  This example requires Tailwind CSS v2.0+

  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<form [formGroup]="form">
  <div
    class="ml-5 flex items-center"
    aria-orientation="horizontal"
    role="tablist"
  >
    <!-- Selected: "text-gray-900 bg-gray-100 hover:bg-gray-200", Not Selected: "text-gray-500 hover:text-gray-900 bg-white hover:bg-gray-100" -->
    <button
      id="tabs-1-tab-1"
      aria-controls="tabs-1-panel-1"
      role="tab"
      type="button"
      (click)="toggleTabs(1)"
      [class]="changeTabStyle(1)"
    >
      Write
    </button>
    <!-- Selected: "text-gray-900 bg-gray-100 hover:bg-gray-200", Not Selected: "text-gray-500 hover:text-gray-900 bg-white hover:bg-gray-100" -->
    <button
      id="tabs-1-tab-2"
      [class]="changeTabStyle(2)"
      aria-controls="tabs-1-panel-2"
      role="tab"
      type="button"
      (click)="toggleTabs(2)"
    >
      Preview
    </button>
  </div>
  <div
    [ngClass]="{
      'relative hidden': openTab !== 1,
      'relative  max-w-5xl mx-auto px-4 ': openTab === 1
    }"
  >
    <div class="relative">
      <div
        class="border border-gray-300 rounded-lg shadow-sm overflow-hidden focus-within:border-dodger-blue-500 focus-within:ring-1 focus-within:ring-dodger-blue-500"
      >
        <label for="title" class="sr-only">Title</label>
        <input
          type="text"
          id="title"
          formControlName="title"
          name="title"
          formControlName="title"
          autocomplete="title"
          required
          class="block w-full border-0 pt-2.5 text-lg font-medium placeholder-gray-500 focus:ring-0"
          placeholder="Title"
        />
        <label for="content" class="sr-only">content</label>

        <quill-editor
          rows="2"
          type="text"
          id="content"
          formControlName="content"
          name="content"
          formControlName="content"
          autocomplete="content"
          required
          class="block w-full border-0 py-0 resize-none placeholder-gray-500 focus:ring-0 sm:text-sm"
          placeholder="Write Something..."
          [modules]="modules"
        ></quill-editor>
        <!-- Spacer element to match the height of the toolbar -->
        <div aria-hidden="true">
          <div class="py-2">
            <div class="h-9"></div>
          </div>
          <div class="h-px"></div>
          <div class="py-2">
            <div class="py-px">
              <div class="h-9"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="absolute bottom-0 inset-x-px">
        <!-- Actions: These are just examples to demonstrate the concept, replace/wire these up however makes sense for your project. -->
        <div class="flex flex-nowrap justify-end py-2 px-2 space-x-2 sm:px-3">
          <div class="flex-shrink-0">
            <label id="listbox-label" class="sr-only"> Tag </label>
            <div class="relative">
              <button
                type="button"
                class="relative inline-flex items-center rounded-full py-2 px-2 bg-gray-50 text-sm font-medium text-gray-500 whitespace-nowrap hover:bg-gray-100 sm:px-3"
                aria-haspopup="listbox"
                aria-expanded="true"
                aria-labelledby="listbox-label"
                (click)="openTagPopUp()"
              >
                <!--
              Placeholder icon, show/hide based on listbox state.

              Heroicon name: solid/user-circle
            -->
                <svg
                  class="text-gray-300 flex-shrink-0 h-5 w-5 sm:-ml-1"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M17.707 9.293a1 1 0 010 1.414l-7 7a1 1 0 01-1.414 0l-7-7A.997.997 0 012 10V5a3 3 0 013-3h5c.256 0 .512.098.707.293l7 7zM5 6a1 1 0 100-2 1 1 0 000 2z"
                    clip-rule="evenodd"
                  />
                </svg>

                <!-- Selected user avatar, show/hide based on listbox state. -->
                <img
                  src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                  alt=""
                  class="flex-shrink-0 h-5 w-5 rounded-full"
                />

                <!-- Selected: "text-gray-900" -->
                <span class="hidden truncate sm:ml-2 sm:block"> Tag </span>
              </button>
            </div>
          </div>

          <div class="flex-shrink-0">
            <label id="listbox-label" class="sr-only"> Add a Category </label>
            <div class="relative">
              <button
                type="button"
                class="relative inline-flex items-center rounded-full py-2 px-2 bg-gray-50 text-sm font-medium text-gray-500 whitespace-nowrap hover:bg-gray-100 sm:px-3"
                aria-haspopup="listbox"
                aria-expanded="true"
                aria-labelledby="listbox-label"
                (click)="openCategoryPopUp()"
              >
                <!--
              Heroicon name: solid/tag

              Selected: "text-gray-300", Default: "text-gray-500"
            -->
                <svg
                  class="text-gray-300 flex-shrink-0 h-5 w-5 sm:-ml-1"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1.5 6.375c0-1.036.84-1.875 1.875-1.875h17.25c1.035 0 1.875.84 1.875 1.875v3.026a.75.75 0 01-.375.65 2.249 2.249 0 000 3.898.75.75 0 01.375.65v3.026c0 1.035-.84 1.875-1.875 1.875H3.375A1.875 1.875 0 011.5 17.625v-3.026a.75.75 0 01.374-.65 2.249 2.249 0 000-3.898.75.75 0 01-.374-.65V6.375zm15-1.125a.75.75 0 01.75.75v.75a.75.75 0 01-1.5 0V6a.75.75 0 01.75-.75zm.75 4.5a.75.75 0 00-1.5 0v.75a.75.75 0 001.5 0v-.75zm-.75 3a.75.75 0 01.75.75v.75a.75.75 0 01-1.5 0v-.75a.75.75 0 01.75-.75zm.75 4.5a.75.75 0 00-1.5 0V18a.75.75 0 001.5 0v-.75zM6 12a.75.75 0 01.75-.75H12a.75.75 0 010 1.5H6.75A.75.75 0 016 12zm.75 2.25a.75.75 0 000 1.5h3a.75.75 0 000-1.5h-3z"
                    clip-rule="evenodd"
                  />
                </svg>

                <!-- Selected: "text-gray-900" -->
                <span class="hidden truncate sm:ml-2 sm:block"> Category </span>
              </button>
            </div>
          </div>

          <div class="flex-shrink-0">
            <label id="listbox-label" class="sr-only"> Add a Mood </label>
            <div class="relative">
              <button
                type="button"
                class="relative inline-flex items-center rounded-full py-2 px-2 bg-gray-50 text-sm font-medium text-gray-500 whitespace-nowrap hover:bg-gray-100 sm:px-3"
                aria-haspopup="listbox"
                aria-expanded="true"
                aria-labelledby="listbox-label"
                (click)="toggleMoodDropdown()"
              >
                <!--
              Heroicon name: solid/calendar

              Selected: "text-gray-300", Default: "text-gray-500"
            -->

                <div [ngSwitch]="moodType">
                  <app-loved *ngSwitchCase="'Loved'"></app-loved>
                  <app-liked *ngSwitchCase="'Liked'"></app-liked>
                  <app-excited *ngSwitchCase="'Excited'"></app-excited>
                  <app-happy *ngSwitchCase="'Happy'"></app-happy>
                  <app-sad *ngSwitchCase="'Sad'"></app-sad>
                  <app-screaming *ngSwitchCase="'Screaming'"></app-screaming>
                  <svg
                    *ngSwitchDefault
                    class="h-5 w-5"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z"
                    />
                  </svg>
                </div>
                <!-- Selected: "text-gray-900" -->
                <span class="hidden truncate sm:ml-2 sm:block"> Mood </span>
              </button>

              <!--
            Select popover, show/hide based on select state.

            Entering: ""
              From: ""
              To: ""
            Leaving: "transition ease-in duration-100"
              From: "opacity-100"
              To: "opacity-0"
          -->
              <ul
                class="absolute right-0 z-10 mt-1 w-52 bg-white shadow max-h-56 rounded-lg py-3 text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm"
                tabindex="-1"
                role="listbox"
                aria-labelledby="listbox-label"
                aria-activedescendant="listbox-option-0"
                *ngIf="isMoodOpen"
                [class.open]="isMoodOpen"
                [@dropdownAnimation]="isMoodOpen ? 'open' : 'closed'"
              >
                <!--
              Select option, manage highlight styles based on mouseenter/mouseleave and keyboard navigation.

              Highlighted: "bg-gray-100", Not Highlighted: "bg-white"
            -->
                <li
                  class="cursor-pointer er bg-white select-none relative py-2 px-3"
                  id="listbox-option-0"
                  role="option"
                  (click)="react('Excited')"
                >
                  <div class="flex items-center">
                    <app-excited></app-excited>
                    <span class="ml-3 block font-medium truncate">
                      Excited
                    </span>
                  </div>
                </li>

                <li
                  class="bg-white cursor-pointer er select-none relative py-2 px-3"
                  id="listbox-option-1"
                  role="option"
                  (click)="react('Loved')"
                >
                  <div class="flex items-center">
                    <app-loved></app-loved>
                    <span class="ml-3 block font-medium truncate"> Loved </span>
                  </div>
                </li>

                <li
                  class="bg-white cursor-pointer select-none relative py-2 px-3"
                  id="listbox-option-2"
                  role="option"
                  (click)="react('Happy')"
                >
                  <div class="flex items-center">
                    <app-happy></app-happy>
                    <span class="ml-3 block font-medium truncate"> Happy </span>
                  </div>
                </li>

                <li
                  class="bg-white cursor-pointer select-none relative py-2 px-3"
                  id="listbox-option-3"
                  role="option"
                  (click)="react('Sad')"
                >
                  <div class="flex items-center">
                    <app-sad></app-sad>
                    <span class="ml-3 block font-medium truncate"> Sad </span>
                  </div>
                </li>

                <li
                  class="bg-white cursor-pointer select-none relative py-2 px-3"
                  id="listbox-option-4"
                  role="option"
                  (click)="react('Liked')"
                >
                  <div class="flex items-center">
                    <app-liked></app-liked>
                    <span class="ml-3 block font-medium truncate"> Liked </span>
                  </div>
                </li>

                <li
                  class="bg-white cursor-pointer select-none relative py-2 px-3"
                  id="listbox-option-5"
                  role="option"
                  (click)="react('Screaming')"
                >
                  <div class="flex items-center">
                    <app-screaming></app-screaming>
                    <span class="ml-3 block font-medium truncate">
                      Screaming
                    </span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="w-full">
          <app-post-images-upload
            [postImageUrl]="postImageUrl"
            [postId]="postId"
            (AddPost)="createPost()"
            (sendImages)="getImages($event)"
          ></app-post-images-upload>
        </div>
      </div>
    </div>
  </div>

  <div
    class="mt-2"
    [ngClass]="{
      hidden: openTab !== 2,
      ' max-w-5xl mx-auto px-4 ': openTab === 2
    }"
  >
    <div
      id="tabs-1-panel-2"
      class="p-0.5 -m-0.5 rounded-lg"
      aria-labelledby="tabs-1-tab-2"
      role="tabpanel"
      tabindex="0"
    >
      <div class="border-b">
        <div
          class="mx-px mt-px px-3 pt-2 pb-12 text-sm leading-5 text-gray-800"
        >
          <div *ngIf="!preview">
            <div
              class="relative block w-full border-2 border-gray-300 border-dashed rounded-lg p-12 text-center hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-dodger-blue-500"
            >
              <div class="flex flex-col justify-center items-center">
                <img
                  class="h-14"
                  src="../../../../../assets/images/logo/logo.png"
                  alt="Screamer"
                />
                <span class="mt-2 block text-sm font-medium text-gray-900">
                  Start Creating The Damn Post
                </span>
              </div>
            </div>
          </div>
          <app-post
            *ngIf="preview"
            [preview]="true"
            [post]="preview"
          ></app-post>
        </div>
      </div>
    </div>
  </div>
</form>

<app-tag-modal *ngIf="this.postService.isTagOpen"></app-tag-modal>
<app-category-modal
  *ngIf="this.postService.isCategoryOpen"
></app-category-modal>
