<ng-progress></ng-progress>

<app-search-result-modal
  *ngIf="this.searchService.isOpen && ShoudShowSearchModal"
></app-search-result-modal>
<app-navbar *ngIf="shouldShowNavAndFooterComponent"></app-navbar>
<div class="min-h-full">
  <div
    class="py-10"
    [ngClass]="{
      'py-10': showSideContent,
      'py-0': !showSideContent
    }"
  >
    <div
      [ngClass]="{
        'max-w-3xl mx-auto sm:px-6 lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-12 lg:gap-8':
          showSideContent,
        '': !showSideContent
      }"
    >
      <div
        *ngIf="showSideContent"
        [ngClass]="{
          hidden: !showSideContent,
          'hidden lg:block lg:col-span-3 xl:col-span-2': showSideContent
        }"
      >
        <app-sidebar></app-sidebar>
      </div>
      <div
        [ngClass]="{
          'lg:col-span-9 xl:col-span-6': showSideContent,
          'lg:col-span-12 xl:col-span-12': !showSideContent
        }"
      >
        <router-outlet></router-outlet>
      </div>
      <aside
        *ngIf="showSideContent"
        [ngClass]="{
          hidden: !showSideContent,
          'hidden xl:block xl:col-span-4': showSideContent
        }"
      >
        <app-side-content></app-side-content>
      </aside>
    </div>
  </div>
</div>
<app-footer
  *ngIf="shouldShowNavAndFooterComponent && ShoudShowSearchModal"
></app-footer>

<app-floating-action-button
  *ngIf="showFloatingButton"
></app-floating-action-button>
<app-story-editor-fullscreen-modal
  *ngIf="this.storyService.isOpen"
></app-story-editor-fullscreen-modal>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
