<div></div>
<div class="flex mt-5" *ngFor="let comment of comments">
  <div class="mr-4 flex-shrink-0">
    <app-avatar
      *ngIf="comment.user"
      [user]="comment.user"
      avatarStyle="h-8 w-8 rounded-full ring-4 ring-white sm:h-10 sm:w-10"
    ></app-avatar>
  </div>
  <div class="w-full">
    <h4 class="text-lg font-bold">
      {{ comment.user.firstName }} {{ comment.user.lastName }}
    </h4>
    <p class="mt-1">
      <quill-view-html [content]="comment.content"></quill-view-html>
    </p>

    <div class="mt-3 flex" *ngFor="let reply of comment.replies">
      <div class="mr-4 flex-shrink-0">
        <app-avatar
          *ngIf="reply.user"
          [user]="reply.user"
          avatarStyle="h-8 w-8 rounded-full ring-4 ring-white sm:h-10 sm:w-10"
        ></app-avatar>
      </div>
      <div>
        <h4 class="text-lg font-bold">
          {{ reply.user.firstName }} {{ reply.user.lastName }}
        </h4>
        <p class="mt-1">
          <quill-view-html [content]="reply.content"></quill-view-html>
        </p>
      </div>
    </div>

    <div class="flex justify-end items-end">
      <button
      (click)="togglereplyInput()"
      *ngIf="!replyInput"
      type="submit"
      class="  block text-end px-4 py-2 border border-transparent text-sm font-medium rounded-md text-dodger-blue-700 bg-white hover:text-dodger-blue-500"
    >
      Reply
    </button>
    </div>
    <app-comment-input
      *ngIf="replyInput"
      [parentCommentId]="comment.id"
      [post]="post"
    ></app-comment-input>
    <button
      *ngIf="comment.replies.length > 3"
      (click)="showMoreReplies(comment.id)"
      type="button"
      class="mt-2 w-full bg- block text-center px-2 py-1 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50"
    >
      Load More Comments
    </button>
  </div>
</div>
<button
  (click)="showMoreComments()"
  type="button"
  class="mt-2 w-full bg- block text-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50"
>
  Load More Comments
</button>
