<li
  class="list-none bg-white px-4 py-6 shadow sm:p-6 sm:rounded-lg mb-5"
  *ngIf="post"
>
  <article aria-labelledby="question-title-81614">
    <div>
      <div class="flex space-x-3">
        <div class="flex-shrink-0">
          <app-avatar
            [routerLink]="['/v/user', post.userId]"
            *ngIf="user"
            [user]="user"
            class="cursor-pointer"
            avatarStyle="h-8 w-8 rounded-full ring-4 ring-white sm:h-10 sm:w-10"
          ></app-avatar>
        </div>
        <div class="min-w-0 flex-1">
          <p class="text-sm font-medium text-gray-900">
            <a
              class="hover:underline"
              *ngIf="user"
              [routerLink]="['/v/user', post.userId]"
            >
              {{ user.firstName ?? "N/A" }} {{ user.lastName ?? "N/A" }}</a
            >
          </p>
          <p class="text-sm text-gray-500">
            <a [routerLink]="['/v/user', post.userId]" class="hover:underline">
              <time>{{ post.createdAt | dateStuff | intlRelativeTime }} </time>
            </a>
          </p>
        </div>
        <div class="flex-shrink-0 self-center flex">
          <div class="relative inline-block text-left">
            <div>
              <button
                (click)="toggleDropdown()"
                type="button"
                class="-m-2 p-2 rounded-full flex items-center text-gray-400 hover:text-gray-600"
                id="options-menu-0-button"
                aria-expanded="false"
                aria-haspopup="true"
              >
                <span class="sr-only">Open options</span>
                <!-- Heroicon name: solid/dots-vertical -->
                <svg
                  class="h-5 w-5"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"
                  />
                </svg>
              </button>
            </div>

            <!--
              Dropdown menu, show/hide based on menu state.

              Entering: "transition ease-out duration-100"
                From: "transform opacity-0 scale-95"
                To: "transform opacity-100 scale-100"
              Leaving: "transition ease-in duration-75"
                From: "transform opacity-100 scale-100"
                To: "transform opacity-0 scale-95"
            -->
            <div
              *ngIf="isOpen"
              [class.open]="isOpen"
              [@dropdownAnimation]="isOpen ? 'open' : 'closed'"
              class="z-50 origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
              role="menu"
              aria-orientation="vertical"
              aria-labelledby="options-menu-0-button"
              tabindex="-1"
            >
              <div class="" role="none">
                <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                <a
                  *ngIf="!isOnCurrentPost()"
                  [routerLink]="'/v/post/' + post.id"
                  target="_blank"
                  class="text-gray-700 flex px-4 py-2 text-sm stroke cursor-pointer hover:bg-gray-100"
                  role="menuitem"
                  tabindex="-1"
                  id="options-menu-0-item-0"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="mr-3 h-5 w-5 text-gray-400 stroke-current"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M15.75 2.25H21a.75.75 0 01.75.75v5.25a.75.75 0 01-1.5 0V4.81L8.03 17.03a.75.75 0 01-1.06-1.06L19.19 3.75h-3.44a.75.75 0 010-1.5zm-10.5 4.5a1.5 1.5 0 00-1.5 1.5v10.5a1.5 1.5 0 001.5 1.5h10.5a1.5 1.5 0 001.5-1.5V10.5a.75.75 0 011.5 0v8.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V8.25a3 3 0 013-3h8.25a.75.75 0 010 1.5H5.25z"
                      clip-rule="evenodd"
                    />
                  </svg>

                  <span>Go To Post</span>
                </a>
                <a
                  *ngIf="isMyPost()"
                  [routerLink]="'/v/post/' + post.id + '/edit'"
                  class="text-gray-700 flex px-4 py-2 text-sm stroke cursor-pointer hover:bg-gray-100"
                  role="menuitem"
                  tabindex="-1"
                  id="options-menu-0-item-0"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    class="mr-3 h-5 w-5 text-gray-400 stroke-current stroke-2"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"
                    />
                  </svg>

                  <span>Edit Post</span>
                </a>
                <a
                  class="text-gray-700 flex px-4 py-2 text-sm cursor-pointer hover:bg-gray-100"
                  role="menuitem"
                  tabindex="-1"
                  id="options-menu-0-item-0"
                >
                  <svg
                    class="mr-3 h-5 w-5 text-gray-400 stroke-current stroke-2"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z"
                    />
                  </svg>

                  <span>Bookmark</span>
                </a>
                <a
                  (click)="copyPostLink()"
                  class="text-gray-700 flex px-4 py-2 text-sm cursor-pointer hover:bg-gray-100"
                  role="menuitem"
                  tabindex="-1"
                  id="options-menu-0-item-1"
                >
                  <!-- Heroicon name: solid/code -->

                  <svg
                    *ngIf="!isCopied"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    class="mr-3 h-5 w-5 text-gray-400 stroke-current stroke-2"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M16.5 8.25V6a2.25 2.25 0 00-2.25-2.25H6A2.25 2.25 0 003.75 6v8.25A2.25 2.25 0 006 16.5h2.25m8.25-8.25H18a2.25 2.25 0 012.25 2.25V18A2.25 2.25 0 0118 20.25h-7.5A2.25 2.25 0 018.25 18v-1.5m8.25-8.25h-6a2.25 2.25 0 00-2.25 2.25v6"
                    />
                  </svg>
                  <svg
                    *ngIf="isCopied"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="mr-3 h-5 w-5 text-gray-900"
                  >
                    <path
                      d="M16.5 6a3 3 0 00-3-3H6a3 3 0 00-3 3v7.5a3 3 0 003 3v-6A4.5 4.5 0 0110.5 6h6z"
                    />
                    <path
                      d="M18 7.5a3 3 0 013 3V18a3 3 0 01-3 3h-7.5a3 3 0 01-3-3v-7.5a3 3 0 013-3H18z"
                    />
                  </svg>

                  <span>Copy Link</span>
                </a>
                <a
                  *ngIf="isMyPost()"
                  class="text-gray-700 flex px-4 py-2 text-sm cursor-pointer hover:bg-gray-100"
                  role="menuitem"
                  tabindex="-1"
                  id="options-menu-0-item-1"
                >
                  <!-- Heroicon name: solid/code -->

                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="mr-3 h-5 w-5 text-gray-400 stroke-current stroke-2"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                    />
                  </svg>

                  <span>Remove Post</span>
                </a>
                <a
                  class="text-gray-700 flex px-4 py-2 text-sm cursor-pointer hover:bg-gray-100"
                  role="menuitem"
                  tabindex="-1"
                  id="options-menu-0-item-2"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    class="mr-3 h-5 w-5 text-gray-400 stroke-current stroke-2"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M3 3v1.5M3 21v-6m0 0l2.77-.693a9 9 0 016.208.682l.108.054a9 9 0 006.086.71l3.114-.732a48.524 48.524 0 01-.005-10.499l-3.11.732a9 9 0 01-6.085-.711l-.108-.054a9 9 0 00-6.208-.682L3 4.5M3 15V4.5"
                    />
                  </svg>

                  <span>Report content</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-shrink-0 my-3" *ngIf="post.postImages.length > 0">
        <div class="container h-60 w-full object-cover rounded-lg">
          <app-carousel
            [preview]="preview"
            [slides]="post.postImages"
          ></app-carousel>
        </div>
      </div>
      <h2
        id="question-title-81614"
        class="mt-4 text-base font-medium text-gray-900 truncate"
      >
        {{ post.title }}
      </h2>
    </div>
    <div class="mt-2 text-sm text-gray-700 space-y-4">
      <quill-view-html [content]="post.content" ></quill-view-html>
    </div>

    <div
      class="mt-6 flex justify-between space-x-8 mb-3"
      *ngIf="preview == false"
    >
      <div class="flex space-x-6">
        <span class="inline-flex items-center text-sm">
          <!-- reactions -->
          <app-reaction-button [postId]="post.id"></app-reaction-button>

          <!--  like-->
        </span>
        <span class="inline-flex items-center text-sm">
          <button
            (click)="toggleCommentSection()"
            type="button"
            class="inline-flex space-x-2 text-gray-400 hover:text-gray-500"
          >
            <!-- Heroicon name: solid/chat-alt -->
            <svg
              class="h-5 w-5"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z"
                clip-rule="evenodd"
              />
            </svg>
            <span class="font-medium text-gray-900">11</span>
            <span class="sr-only">replies</span>
          </button>
        </span>
        <span class="inline-flex items-center text-sm">
          <button
            type="button"
            class="inline-flex space-x-2 text-gray-400 hover:text-gray-500"
          >
            <!-- Heroicon name: solid/eye -->
            <svg
              class="h-5 w-5"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
              <path
                fill-rule="evenodd"
                d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z"
                clip-rule="evenodd"
              />
            </svg>
            <span class="font-medium text-gray-900">{{post.views | shortNumber}}</span>
            <span class="sr-only">views</span>
          </button>
        </span>
      </div>
      <div class="flex text-sm">
        <span class="inline-flex items-center text-sm">
          <button
            type="button"
            class="inline-flex space-x-2 text-gray-400 hover:text-gray-500"
          >
            <!-- Heroicon name: solid/share -->
            <svg
              class="h-5 w-5"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                d="M15 8a3 3 0 10-2.977-2.63l-4.94 2.47a3 3 0 100 4.319l4.94 2.47a3 3 0 10.895-1.789l-4.94-2.47a3.027 3.027 0 000-.74l4.94-2.47C13.456 7.68 14.19 8 15 8z"
              />
            </svg>
          </button>
        </span>
      </div>
    </div>
  </article>
  <div
    class="z-50 max-w-7xl mx-auto sm:p-6 lg:p-8 mt-5 border-t border-gray-200"
    *ngIf="isCommentsOpen"
  >
    <app-comment-input></app-comment-input>
    <app-comment-section></app-comment-section>
  </div>
</li>
