<aside class="hidden xl:block xl:col-span-4">
  <div class="sticky top-4 space-y-4">
    <section aria-labelledby="who-to-follow-heading">
      <div class="bg-white rounded-lg shadow">
        <div class="p-6">
          <h2
            id="who-to-follow-heading"
            class="text-base font-medium text-gray-900"
          >
            Who to follow
          </h2>
          <div class="mt-6 flow-root">
            <ul role="list" class="-my-4 divide-y divide-gray-200">
              <li class="flex py-4 space-x-3 animate-pulse">
                <div class="flex-shrink-0">
                  <div class="h-8 w-8 rounded-full bg-gray-400"></div>
                </div>
                <div class="flex-1 truncate bg-gray-400 h-8 rounded">
                  <div class="mt-2 flex">
                    <span class="inline-flex items-center text-sm">
                      <button
                        type="button"
                        class="inline-flex space-x-2 text-gray-400 hover:text-gray-500"
                      >
                        <span class="font-medium text-gray-900"></span>
                      </button>
                    </span>
                  </div>
                </div>
              </li>

              <!-- More posts... -->
            </ul>
          </div>
          <div class="mt-6">
            <div
              class="bg-gray-200 animate-pulse flex items-center px-3 py-2 text-sm font-medium rounded-md"
            >
              <div class="flex-1 truncate bg-gray-400 h-4 rounded"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section aria-labelledby="trending-heading">
      <div class="bg-white rounded-lg shadow">
        <div class="p-6">
          <h2 id="trending-heading" class="text-base font-medium text-gray-900">
            Trending
          </h2>
          <div class="mt-6 flow-root">
            <ul role="list" class="-my-4 divide-y divide-gray-200">
              <li class="flex py-4 space-x-3 animate-pulse">
                <div class="flex-shrink-0">
                  <div class="h-8 w-8 rounded-full bg-gray-400"></div>
                </div>
                <div class="flex-1 truncate bg-gray-400 h-8 rounded">
                  <div class="mt-2 flex">
                    <span class="inline-flex items-center text-sm">
                      <button
                        type="button"
                        class="inline-flex space-x-2 text-gray-400 hover:text-gray-500"
                      >
                        <span class="font-medium text-gray-900"></span>
                      </button>
                    </span>
                  </div>
                </div>
              </li>

              <!-- More posts... -->
            </ul>
          </div>
          <div class="mt-6">
            <div
              class="bg-gray-200 animate-pulse flex items-center px-3 py-2 text-sm font-medium rounded-md"
            >
              <div class="flex-1 truncate bg-gray-400 h-4 rounded"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</aside>
