<div>
  <div class="flex justify-between items-center p-2">
    <div class="flow-root">
      <button
        type="button"
        class="rounded-full inline-flex items-center justify-center text-gray-400 hover:text-gray-500 cursor pointer"
      >
        <label
          class="-ml-2 -my-2 rounded-full px-3 py-2 inline-flex items-center text-left text-gray-400 group"
        >
          <svg
            class="-ml-1 h-5 w-5 mr-2 group-hover:text-gray-500"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z"
              clip-rule="evenodd"
            />
          </svg>
          <span class="text-sm text-gray-500 group-hover:text-gray-600 italic"
            >Attach a file</span
          >
          <input
            ng2FileSelect
            [uploader]="uploader"
            multiple
            type="file"
            class="hidden"
          />
        </label>
      </button>
    </div>

    <div class="flex-shrink-0">
      <button
        (click)="runFunction()"
        class="cursor-pointer inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-dodger-blue-600 hover:bg-dodger-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-dodger-blue-500"
      >
        {{ edit ? "Update" : "Post" }}
      </button>
    </div>
  </div>
</div>
