<p class="text-sm font-medium text-gray-700" aria-hidden="true">Photo</p>
<div class="mt-1 lg:hidden">
  <div class="flex items-center">
    <div
      class="flex-shrink-0 inline-block rounded-full overflow-hidden h-12 w-12"
      aria-hidden="true"
    >
      <img
        class="rounded-full h-full w-full bg-contain"
        [style.background-image]="ImgUrl"
        *ngIf="ImgUrl"
        alt=""
      />
    </div>
    <div class="ml-5 rounded-md shadow-sm">
      <div
        class="group relative border border-gray-300 rounded-md py-2 px-3 flex items-center justify-center hover:bg-gray-50 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-sky-500"
      >
        <label
          for="mobile-user-photo"
          class="relative text-sm leading-4 font-medium text-gray-700 pointer-events-none"
        >
          <span>Change</span>
          <span class="sr-only"> user photo</span>
        </label>

        <input
          id="mobile-user-photo"
          name="user-photo"
          type="file"
          class="absolute w-full h-full opacity-0 cursor-pointer border-gray-300 rounded-md"
          ng2FileSelect
          [uploader]="uploader"
        />
      </div>
    </div>
  </div>
</div>

<div class="hidden relative rounded-full overflow-hidden lg:block">
  <img
    class="relative rounded-full w-40 h-40 bg-contain"
    [style.background-image]="ImgUrl"
    *ngIf="ImgUrl"
    alt=""
  />

  <label
    for="desktop-user-photo"
    class="absolute inset-0 w-full h-full bg-black bg-opacity-75 flex items-center justify-center text-sm font-medium text-white opacity-0 hover:opacity-100 focus-within:opacity-100"
  >
    <span>Change</span>
    <span class="sr-only"> user photo</span>
    <input
      type="file"
      ng2FileSelect
      [uploader]="uploader"
      id="desktop-user-photo"
      name="user-photo"
      class="absolute inset-0 w-full h-full opacity-0 cursor-pointer border-gray-300 rounded-md"
    />
  </label>
</div>

<!--   <div class="col-2 mb-1" *ngFor="let photo of user?.Avatars">
      <img src="{{photo.url}}" alt="photo of user" class="img-thumbnail mb-1">
      <div class="text-center">
          <button
              class="btn btn-sm"
              [disabled]="photo.isMain"
              (click)="setMainPhoto(photo)"
              [ngClass]="photo.isMain ? 'btn-success active' : 'btn-outline-success' "
          >Main</button>
          <button
              class="btn btn-sm btn-danger"
              [disabled]="photo.isMain"
              (click)="deletePhoto(photo.id)"
          ><i class="fa fa-trash"></i></button>
      </div>
  </div>
 -->
<div class="row mt-4">
  <div
    class="col-9"
    style="margin-bottom: 40px"
    *ngIf="uploader?.queue?.length"
  >


    <div class="space-x-3 ">
      <button
        type="button"
        class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-indigo-100 text-indigo-800 space-x-1 p-2 cursor-pointer"
        (click)="upload()"
        [disabled]="!uploader?.getNotUploadedItems()?.length"
      >
        <span class="fa fa-upload mr-2"></span> Upload
      </button>
      <button
        type="button"
        class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-red-100 text-red-800 space-x-1 cursor-pointer"
        (click)="Cancel()"
        [disabled]="!uploader?.isUploading"
      >
        <span class="fa fa-ban mr-2"></span> Cancel
      </button>
      <button
        type="button"
        class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-yellow-100 text-yellow-800 space-x-1 cursor-pointer"
        (click)="Clear()"
        [disabled]="!uploader?.queue?.length"
      >
        <span class="fa fa-trash mr-2"></span> Clear
      </button>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
