<li class="bg-white px-4 py-6 shadow sm:p-6 sm:rounded-lg animate-pulse">
  <article>
    <div>
      <div class="flex space-x-3">
        <div class="flex-shrink-0">
          <div class="h-10 w-10 rounded-full bg-gray-200"></div>
        </div>
        <div class="min-w-0 flex-1">
          <div class="h-4 bg-gray-200 rounded animate-pulse"></div>
        </div>
        <div class="flex-shrink-0 self-center flex">
          <div class="relative inline-block text-left">
            <div>
              <div
                class="-m-2 p-2 rounded-full flex items-center bg-gray-200 animate-pulse"
                id="options-menu-0-button"
              >
                <span class="sr-only">Open options</span>
                <div class="h-5 w-5 bg-gray-400 rounded-full"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4 h-96 bg-gray-200 rounded animate-pulse"></div>

      <div class="mt-4 h-4 bg-gray-200 rounded animate-pulse"></div>
    </div>
    <div class="mt-2 space-y-4">
      <div class="h-4 bg-gray-200 rounded animate-pulse"></div>
      <div class="h-4 bg-gray-200 rounded animate-pulse"></div>
    </div>
    <div class="mt-6 flex justify-between space-x-8">
      <div class="flex space-x-6">
        <span class="inline-flex items-center">
          <button
            type="button"
            class="inline-flex space-x-2 text-gray-400 hover:text-gray-500"
          >
            <div class="h-5 w-5 bg-gray-200 rounded-full"></div>
            <span class="sr-only">Loading...</span>
          </button>
        </span>
        <span class="inline-flex items-center">
          <button
            type="button"
            class="inline-flex space-x-2 text-gray-400 hover:text-gray-500"
          >
            <div class="h-5 w-5 bg-gray-200 rounded-full"></div>
            <span class="sr-only">Loading...</span>
          </button>
        </span>
        <span class="inline-flex items-center">
          <button
            type="button"
            class="inline-flex space-x-2 text-gray-400 hover:text-gray-500"
          >
            <div class="h-5 w-5 bg-gray-200 rounded-full"></div>
            <span class="sr-only">Loading...</span>
          </button>
        </span>
      </div>
      <div class="flex">
        <button
          type="button"
          class="inline-flex space-x-2 text-gray-400 hover:text-gray-500"
        >
          <div class="h-5 w-5 bg-gray-200 rounded-full"></div>
          <span class="sr-only">Loading...</span>
        </button>
      </div>
    </div>
  </article>
</li>
