.owl-item .ng-tns-c3118069711-3 .ng-trigger .ng-trigger-autoHeight .ng-star-inserted {
  margin: 0 !important;
  padding: 0 !important;
}

.owl-carousel .owl-item:not(:last-child) {
  margin-right: 0 !important;
}

.item {
  /* Optional: Add any custom styling for the items */
}
