<div class="px-2 flex items-center space-x-3">
  <div (click)="openModal()" class="stories user-icon carousel snapgram">
    <div
      class="story"
      data-id="1"
      data-photo="/avatar1.jpg"
      data-time="undefined"
      data-last-updated="1686393000"
    >
      <a class="item-link">
        <span class="item-preview">
          <img lazy="eager" src="../../../../../assets/images/add.svg" />
        </span>
        <span class="info">
          <strong class="name" itemprop="name">Add Story</strong>
        </span>
      </a>
    </div>
  </div>
  <div class="h-full"></div>

  <app-story></app-story>
</div>
