<section aria-labelledby="trending-heading">
  <div class="bg-white rounded-lg shadow">
    <div class="p-6">
      <h2 id="trending-heading" class="text-base font-medium text-gray-900">
        Notifications
      </h2>
      <div class="mt-6 flow-root">
        <ul role="list" class="-my-4 divide-y divide-gray-200">
          <li class="flex py-4 space-x-3">
            <app-notification-list></app-notification-list>
          </li>

          <!-- More posts... -->
        </ul>
      </div>
    </div>
  </div>
</section>
