<div
  class="fixed z-10 inset-0 overflow-y-auto"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
>
  <div
    class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
  >
    <div
      class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
      aria-hidden="true"
    ></div>
    <span
      class="hidden sm:inline-block sm:align-middle sm:h-screen"
      aria-hidden="true"
      >&#8203;</span
    >
    <div
      class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6"
    >
      <div class="">
        <div class="flow-root mt-6">
          <ul role="list" class="-my-5 divide-y divide-gray-200">
followers {{
  followers
}}
<br>
followings {{
  followings
}}
<br>
Predicate {{
  Predicate
}}

<button (click)="closePopup()">close</button>
            <div *ngIf="Predicate == 'followers'">
              <app-follow-card
                *ngFor="let follow of followers"
                [userid]="follow.userId"
              ></app-follow-card>
            </div>
            <div *ngIf="Predicate == 'following'">
              <app-follow-card
                *ngFor="let follow of followings"
                [userid]="follow.userId"
              ></app-follow-card>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
