<div class="flex items-start space-x-4 pb-">
  <div class="flex-shrink-0">
    <img
      class="inline-block h-10 w-10 rounded-full"
      src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
      alt=""
    />
  </div>
  <div class="min-w-0 flex-1">
    <form action="#">
      <div>
        <label for="comment" class="sr-only">Add your comment</label>
        <span
          role="textbox"
          rows="3"
          name="comment"
          id="comment"
          class="max-w-lg shadow-sm block w-full focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border border-gray-300 rounded-full h-10"
          placeholder="Add your comment..."
        ></span>
      </div>

      <div class="bottom-0 inset-x-0 flex justify-end rounded-full bg-none">
        <div class="flex-shrink-0">
          <button
            type="submit"
            class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md  text-indigo-700"
          >
            Post
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
