<div class="divide-y">
  <div
    class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden transform transition-all sm:my-8 sm:align-middle sm:p-6"
  >
    <div class="sm:flex sm:items-start">
      <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
        <h3
          class="text-lg leading-6 font-medium text-gray-900"
          id="modal-title"
        >
          Confirm Email
        </h3>
        <div class="mt-2">
          <p class="text-sm text-gray-500">
            Are you sure you want to deactivate your account? All of your data
            will be permanently removed from our servers forever. This action
            cannot be undone.
          </p>
        </div>
      </div>
    </div>
    <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
      <button
        type="button"
        class="inline-flex items-center px-8 py-3 border border-transparent text-sm leading-4 font-medium rounded-md text-dodger-blue-700 bg-dodger-blue-100 hover:bg-dodger-blue-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-dodger-blue-500"
      >
        Confirm Email
      </button>
    </div>
  </div>
  <form class="space-y-6 lg:px-8">
    <div class="sm:flex sm:items-start">
      <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
        <h3
          class="text-lg leading-6 font-medium text-gray-900"
          id="modal-title"
        >
          Reset Password
        </h3>
        <div class="mt-2">
          <p class="text-sm text-gray-500">
            Are you sure you want to deactivate your account? All of your data
            will be permanently removed from our servers forever. This action
            cannot be undone.
          </p>
        </div>
      </div>
    </div>

    <div class="space-y-1">
      <label for="password" class="block text-sm font-medium text-gray-700">
        Password
      </label>
      <div class="mt-1">
        <input
          id="password"
          name="password"
          type="password"
          formControlName="password"
          autocomplete="current-password"
          required
          class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-dodger-blue-500 focus:border-dodger-blue-500 sm:text-sm"
        />
      </div>
    </div>

    <div class="space-y-1">
      <label for="password" class="block text-sm font-medium text-gray-700">
        Password
      </label>
      <div class="mt-1">
        <input
          id="password"
          name="password"
          type="password"
          formControlName="password"
          autocomplete="current-password"
          required
          class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-dodger-blue-500 focus:border-dodger-blue-500 sm:text-sm"
        />
      </div>
    </div>

    <div class="space-y-1">
      <label for="password" class="block text-sm font-medium text-gray-700">
        Password
      </label>
      <div class="mt-1">
        <input
          id="password"
          name="password"
          type="password"
          formControlName="password"
          autocomplete="current-password"
          required
          class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-dodger-blue-500 focus:border-dodger-blue-500 sm:text-sm"
        />
      </div>
    </div>

    <div class="pt-6 divide-y divide-gray-200">
      <div class="mt-4 py-4 px-4 flex justify-end sm:px-6">
        <button
          type="button"
          class="bg-white border border-gray-300 rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-dodger-blue-500"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="ml-5 bg-dodger-blue-700 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-dodger-blue-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-dodger-blue-500"
        >
          Save
        </button>
      </div>
    </div>
  </form>
</div>
