@import '@ctrl/ngx-emoji-mart/picker';


.container {
  position: relative;
}

button {
  /* Your button styles here */
}

emoji-mart {
  position: absolute;
  bottom: 100%;
  left: 0;
  z-index: 100;
  width: 100%;
  max-width: 300px;

}
