<div [formGroup]="form">
  <div formGroupName="socials">
    <label for="email" class="block text-sm font-medium text-gray-700">
      {{ data }}</label
    >
    <div class="mt-1">
      <input
        type="text"
        [id]="data"
        [name]="data"
        [formControlName]="data"
        [placeholder]="data"
        [autocomplete]="data"
        required
        class="shadow-sm focus:ring-dodger-blue-500 focus:border-dodger-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
      />
    </div>
  </div>
</div>
