/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "font-awesome/scss/font-awesome.scss";
@import "~quill/dist/quill.bubble.css";
@import "~quill/dist/quill.core.css";
@import "~quill-mention/dist/quill.mention.min.css";

a:link {
  text-decoration: none !important;
}

a:visited {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

a:active {
  text-decoration: none !important;
}
a {
  text-decoration: none !important;
}

.ql-mention-list-container .ql-mention-list-container-bottom .quill-mention-list{
    z-index: 2147483647;
}
