/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "font-awesome/scss/font-awesome.scss";
@import "~quill/dist/quill.bubble.css";
@import "~quill/dist/quill.core.css";
@import "~quill-mention/dist/quill.mention.min.css";

a:link {
  text-decoration: none !important;
}

a:visited {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

a:active {
  text-decoration: none !important;
}
a {
  text-decoration: none !important;
}

.ql-mention-list-container
  .ql-mention-list-container-bottom
  .quill-mention-list {
  z-index: 2147483647;
}

@import "tui-color-picker/dist/tui-color-picker.css";
@import 'tui-image-editor/dist/tui-image-editor.css';

p {
  font-family: Lato;
}
i {
}
.tui-image-editor-header {
  display: none;
}
.tui-image-editor-container .tui-image-editor-main {
  top: 0;
}

.stories.snapgram .story > .item-link {
  text-decoration: none;
  color: #333;
}
.stories.snapgram .story > .item-link > .item-preview {
  border-radius: 50%;
  padding: 2px;
  background: radial-gradient(
    ellipse at 70% 70%,
    #44b1f4 8%,
    #44b1f4 42%,
    #44b1f4 58%
  );
}
.stories.snapgram .story > .item-link > .item-preview img {
  border-radius: 50%;
  border: 3px solid #fff;
}

.stories.snapgram .story.seen {
  opacity: 0.75;
}
.stories.snapgram .story.seen > a > .item-preview {
  background: #999;
}
.stories.snapgram .story.seen > a {
  color: #999 !important;
}
