<form
  class="divide-y divide-gray-200 lg:col-span-9"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <!-- Profile section -->
  <div class="py-6 px-4 sm:p-6 lg:pb-8">
    <div>
      <h2 class="text-lg leading-6 font-medium text-gray-900">Profile</h2>
      <p class="mt-1 text-sm text-gray-500">
        This information will be displayed publicly so be careful what you
        share.
      </p>
    </div>

    <div class="mt-6 flex flex-col lg:flex-row">
      <div class="flex-grow space-y-6">
        <div>
          <div class="mt-1 rounded-md shadow-sm flex">
            <app-input
              [special]="true"
              label="userName"
              autocomplete="userName"
              id="userName"
              name="userName"
              inputType="text"
              formControlNameText="userName"
              placeholder="userName"
              class="focus:ring-dodger-blue-500 focus:border-dodger-blue-500 flex-grow block w-full min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300"
              classStyle="w-full focus:ring-dodger-blue-500 focus:border-dodger-blue-500 flex-grow block w-full min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300"
              [form]="form"
              error="error text"
            ></app-input>
          </div>
        </div>

        <div>
          <app-input
            label="Bio"
            autocomplete="bio"
            id="bio"
            name="bio"
            inputType="textarea"
            formControlNameText="bio"
            placeholder="bio"
            [form]="form"
            error="error text"
          ></app-input>

          <p class="mt-2 text-sm text-gray-500">
            Brief description for your profile. URLs are hyperlinked.
          </p>
        </div>
      </div>

      <div
        class="mt-6 flex-grow lg:mt-0 lg:ml-6 lg:flex-grow-0 lg:flex-shrink-0"
      >
        <!-- image uploader -->
        <app-avatar-upload *ngIf="user" [user]="user"></app-avatar-upload>
      </div>
    </div>

    <div class="mt-6 gap-6 flex flex-wrap">
      <div class="col-span-12 sm:col-span-6">
        <app-input
          label="First name"
          autocomplete="firstName"
          id="firstName"
          name="firstName"
          inputType="text"
          formControlNameText="firstName"
          placeholder="firstName"
          class="shadow-sm focus:ring-dodger-blue-500 focus:border-dodger-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
          classStyle="shadow-sm focus:ring-dodger-blue-500 focus:border-dodger-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
          [form]="form"
          error="error text"
        ></app-input>
      </div>

      <div class="col-span-12 sm:col-span-6">
        <app-input
          label="Last name"
          autocomplete="lastName"
          id="lastName"
          name="lastName"
          inputType="text"
          formControlNameText="lastName"
          placeholder="lastName"
          class="shadow-sm focus:ring-dodger-blue-500 focus:border-dodger-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
          classStyle="shadow-sm focus:ring-dodger-blue-500 focus:border-dodger-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
          [form]="form"
          error="error text"
        ></app-input>
      </div>
      <div class="col-span-12 sm:col-span-6">
        <app-input
          label="website"
          autocomplete="website"
          id="website"
          name="website"
          inputType="text"
          formControlNameText="website"
          placeholder="website"
          class="shadow-sm focus:ring-dodger-blue-500 focus:border-dodger-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
          classStyle="shadow-sm focus:ring-dodger-blue-500 focus:border-dodger-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
          [form]="form"
          error="error text"
        ></app-input>
      </div>

      <div class="col-span-12 sm:col-span-6">
        <app-input
          label="Birthday"
          autocomplete="birthday"
          id="birthday"
          name="birthday"
          inputType="date"
          formControlNameText="birthday"
          placeholder="birthday"
          class="shadow-sm focus:ring-dodger-blue-500 focus:border-dodger-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
          classStyle="shadow-sm focus:ring-dodger-blue-500 focus:border-dodger-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
          [form]="form"
          error="error text"
        ></app-input>
      </div>
      <div>
        <div class="mt-1 relative rounded-md shadow-sm">
          <app-input
            label="Phone Number"
            autocomplete="phone"
            id="phone"
            name="phone"
            inputType="text"
            formControlNameText="phone"
            placeholder="phone"
            classStyle="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-dodger-blue-500 focus:border-dodger-blue-500 sm:text-sm"
            [form]="form"
            error="error text"
          ></app-input>
        </div>
      </div>
      <div class="sm:col-span-3">
        <label for="gender" class="block text-sm font-medium text-gray-700">
          gender
        </label>
        <div class="mt-1">
          <select
            id="gender"
            name="gender"
            formControlName="gender"
            autocomplete="gender"
            class="shadow-sm focus:ring-dodger-blue-500 focus:border-dodger-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
          >
            <option>Male</option>
            <option>Female</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <!-- Privacy section -->
  <div class="pt-6 pb-6">
    <div class="pt-8 px-4 pb-b">
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Personal Information
        </h3>
        <p class="mt-1 text-sm text-gray-500">
          Use a permanent address where you can receive mail.
        </p>
      </div>
      <div>
        <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
          <div class="sm:col-span-3" formGroupName="adress">
            <label
              for="country"
              class="block text-sm font-medium text-gray-700"
            >
              Country
            </label>
            <div class="mt-1">
              <select
                id="country"
                name="country"
                formControlName="country"
                autocomplete="country"
                class="shadow-sm focus:ring-dodger-blue-500 focus:border-dodger-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
              >
                <option
                  *ngFor="let title of this.countryService.countryList"
                  [value]="title"
                >
                  {{ title }}
                </option>
              </select>
            </div>
          </div>

          <div class="sm:col-span-6">
            <app-input
              label="Street address"
              autocomplete="street"
              id="street"
              name="street"
              inputType="text"
              formControlNameText="street"
              placeholder="street"
              class="shadow-sm focus:ring-dodger-blue-500 focus:border-dodger-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
              classStyle="shadow-sm focus:ring-dodger-blue-500 focus:border-dodger-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
              [form]="form"
              error="error text"
              formGroupName="adress"
            ></app-input>
          </div>

          <div class="sm:col-span-2">
            <app-input
              label="City"
              autocomplete="city"
              id="city"
              name="city"
              inputType="text"
              formControlNameText="city"
              placeholder="city"
              class="shadow-sm focus:ring-dodger-blue-500 focus:border-dodger-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
              classStyle="shadow-sm focus:ring-dodger-blue-500 focus:border-dodger-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
              [form]="form"
              error="error text"
              formGroupName="adress"
            ></app-input>
          </div>

          <div class="sm:col-span-2">
            <app-input
              label="State / Province"
              autocomplete="state"
              id="state"
              name="state"
              inputType="text"
              formControlNameText="state"
              placeholder="state"
              class="shadow-sm focus:ring-dodger-blue-500 focus:border-dodger-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
              classStyle="shadow-sm focus:ring-dodger-blue-500 focus:border-dodger-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
              [form]="form"
              error="error text"
              formGroupName="adress"
            ></app-input>
          </div>

          <div class="sm:col-span-2">
            <app-input
              label="ZIP / Postal code"
              autocomplete="postalCode"
              id="postalCode"
              name="postalCode"
              inputType="text"
              formControlNameText="postalCode"
              placeholder="postalCode"
              class="shadow-sm focus:ring-dodger-blue-500 focus:border-dodger-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
              classStyle="shadow-sm focus:ring-dodger-blue-500 focus:border-dodger-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
              [form]="form"
              error="error text"
              formGroupName="adress"
            ></app-input>
          </div>
        </div>
      </div>
    </div>

    <div class="pt-8 px-4">
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">Socials</h3>
        <p class="mt-1 text-sm text-gray-500">
          We'll always let you know about important changes, but you pick what
          else you want to hear about.
        </p>
      </div>
      <div class="mt-6">
        <!-- socials -->
        <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
          <div class="sm:col-span-2" *ngFor="let social of socials">
            <app-input
              [label]="social"
              [autocomplete]="social"
              [id]="social"
              [name]="social"
              inputType="text"
              [formControlNameText]="social"
              [placeholder]="social"
              class="shadow-sm focus:ring-dodger-blue-500 focus:border-dodger-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
              classStyle="shadow-sm focus:ring-dodger-blue-500 focus:border-dodger-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
              [form]="form"
              error="error text"
              formGroupName="socials"
            ></app-input>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-4 py-4 px-4 flex justify-end sm:px-6">
      <button
        type="submit"
        class="ml-5 bg-dodger-blue-700 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-dodger-blue-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-dodger-blue-500"
        [disabled]="!form.valid"
        [ngClass]="
          form.valid
            ? 'bg-dodger-blue-600 hover:bg-dodger-blue-700'
            : 'bg-gray-300 cursor-not-allowed disabled'
        "
      >
        Save
      </button>
    </div>
  </div>
</form>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
