<form
  class="divide-y divide-gray-200 lg:col-span-9"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <!-- Profile section -->
  <div class="py-6 px-4 sm:p-6 lg:pb-8">
    <div>
      <h2 class="text-lg leading-6 font-medium text-gray-900">Profile</h2>
      <p class="mt-1 text-sm text-gray-500">
        This information will be displayed publicly so be careful what you
        share.
      </p>
    </div>

    <div class="mt-6 flex flex-col lg:flex-row">
      <div class="flex-grow space-y-6">
        <div>
          <label for="username" class="block text-sm font-medium text-gray-700">
            Username
          </label>
          <div class="mt-1 rounded-md shadow-sm flex">
            <span
              class="bg-gray-50 border border-r-0 border-gray-300 rounded-l-md px-3 inline-flex items-center text-gray-500 sm:text-sm"
            >
              workcation.com/
            </span>
            <input
              type="text"
              id="userName"
              name="userName"
              formControlName="userName"
              autocomplete="userName"
              required
              class="focus:ring-dodger-blue-500 focus:border-dodger-blue-500 flex-grow block w-full min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300"
              value="deblewis"
            />
          </div>
        </div>

        <div>
          <label for="bio" class="block text-sm font-medium text-gray-700">
            bio
          </label>
          <div class="mt-1">
            <textarea
              type="text"
              id="bio"
              name="bio"
              formControlName="bio"
              autocomplete="bio"
              required
              rows="3"
              class="shadow-sm focus:ring-dodger-blue-500 focus:border-dodger-blue-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md"
            ></textarea>
          </div>
          <p class="mt-2 text-sm text-gray-500">
            Brief description for your profile. URLs are hyperlinked.
          </p>
        </div>
      </div>

      <div
        class="mt-6 flex-grow lg:mt-0 lg:ml-6 lg:flex-grow-0 lg:flex-shrink-0"
      >
        <!-- image uploader -->
        <app-avatar-upload *ngIf="user" [user]="user"></app-avatar-upload>
      </div>
    </div>

    <div class="mt-6 gap-6 flex flex-wrap">
      <div class="col-span-12 sm:col-span-6">
        <label for="first-name" class="block text-sm font-medium text-gray-700"
          >First name</label
        >
        <input
          type="text"
          id="firstName"
          name="firstName"
          formControlName="firstName"
          autocomplete="firstName"
          required
          class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-dodger-blue-500 focus:border-dodger-blue-500 sm:text-sm"
        />
      </div>

      <div class="col-span-12 sm:col-span-6">
        <label for="last-name" class="block text-sm font-medium text-gray-700"
          >Last name</label
        >
        <input
          type="text"
          id="lastName"
          name="lastName"
          formControlName="lastName"
          autocomplete="lastName"
          required
          class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-dodger-blue-500 focus:border-dodger-blue-500 sm:text-sm"
        />
      </div>
      <div class="col-span-12 sm:col-span-6">
        <label for="website" class="block text-sm font-medium text-gray-700"
          >website</label
        >
        <input
          type="text"
          id="website"
          name="website"
          formControlName="website"
          autocomplete="website"
          required
          class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-dodger-blue-500 focus:border-dodger-blue-500 sm:text-sm"
        />
      </div>

      <div class="col-span-12 sm:col-span-6">
        <label for="website" class="block text-sm font-medium text-gray-700"
          >website</label
        >
        <input
          type="date"
          id="birthday"
          name="birthday"
          formControlName="birthday"
          autocomplete="birthday"
          required
          class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-dodger-blue-500 focus:border-dodger-blue-500 sm:text-sm"
          required
        />
      </div>
      <div>
        <label for="phone" class="block text-sm font-medium text-gray-700"
          >Phone Number</label
        >
        <div class="mt-1 relative rounded-md shadow-sm">
          <div class="absolute inset-y-0 left-0 flex items-center">
            <label for="country-code" class="sr-only">Country</label>
            <select
              id="country-code"
              name="country-code"
              autocomplete="country-code"
              class="focus:ring-dodger-blue-500 focus:border-dodger-blue-500 h-full py-0 pl-3 pr-7 border-transparent bg-transparent text-gray-500 sm:text-sm rounded-md"
            >
              <option>US</option>
              <option>CA</option>
              <option>EU</option>
            </select>
          </div>
          <input
            type="text"
            id="phone"
            name="phone"
            formControlName="phone"
            autocomplete="phone"
            required
            class="focus:ring-dodger-blue-500 focus:border-dodger-blue-500 block w-full pl-16 sm:text-sm border-gray-300 rounded-md"
            placeholder="+1 (555) 987-6543"
          />
        </div>
      </div>
      <div class="sm:col-span-3">
        <label for="gender" class="block text-sm font-medium text-gray-700">
          gender
        </label>
        <div class="mt-1">
          <select
            id="gender"
            name="gender"
            formControlName="gender"
            autocomplete="gender"
            required
            class="shadow-sm focus:ring-dodger-blue-500 focus:border-dodger-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
          >
            <option>Male</option>
            <option>Female</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <!-- Privacy section -->
  <div class="pt-6 pb-6">
    <div class="pt-8 px-4 pb-b">
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Personal Information
        </h3>
        <p class="mt-1 text-sm text-gray-500">
          Use a permanent address where you can receive mail.
        </p>
      </div>
      <div formGroupName="adress">
        <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <label
              for="country"
              class="block text-sm font-medium text-gray-700"
            >
              Country
            </label>
            <div class="mt-1">
              <select
                id="country"
                name="country"
                formControlName="country"
                autocomplete="country"
                required
                class="shadow-sm focus:ring-dodger-blue-500 focus:border-dodger-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
              >
                <option>United States</option>
                <option>Canada</option>
                <option>Mexico</option>
              </select>
            </div>
          </div>

          <div class="sm:col-span-6">
            <label
              for="street-address"
              class="block text-sm font-medium text-gray-700"
            >
              Street address
            </label>
            <div class="mt-1">
              <input
                type="text"
                id="street"
                name="street"
                formControlName="street"
                autocomplete="street"
                required
                class="shadow-sm focus:ring-dodger-blue-500 focus:border-dodger-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
              />
            </div>
          </div>

          <div class="sm:col-span-2">
            <label for="city" class="block text-sm font-medium text-gray-700">
              City
            </label>
            <div class="mt-1">
              <input
                type="text"
                id="city"
                name="city"
                formControlName="city"
                autocomplete="city"
                required
                class="shadow-sm focus:ring-dodger-blue-500 focus:border-dodger-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
              />
            </div>
          </div>

          <div class="sm:col-span-2">
            <label for="region" class="block text-sm font-medium text-gray-700">
              State / Province
            </label>
            <div class="mt-1">
              <input
                type="text"
                id="state"
                name="state"
                formControlName="state"
                autocomplete="state"
                required
                autocomplete="address-level1"
                class="shadow-sm focus:ring-dodger-blue-500 focus:border-dodger-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
              />
            </div>
          </div>

          <div class="sm:col-span-2">
            <label
              for="postal-code"
              class="block text-sm font-medium text-gray-700"
            >
              ZIP / Postal code
            </label>
            <div class="mt-1">
              <input
                type="text"
                id="postalCode"
                name="postalCode"
                formControlName="postalCode"
                autocomplete="postalCode"
                required
                class="shadow-sm focus:ring-dodger-blue-500 focus:border-dodger-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="pt-8 px-4">
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">Socials</h3>
        <p class="mt-1 text-sm text-gray-500">
          We'll always let you know about important changes, but you pick what
          else you want to hear about.
        </p>
      </div>
      <div class="mt-6">
        <!-- socials -->
        <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
          <div class="sm:col-span-2" *ngFor="let social of socials">
            <app-social-input [form]="form" [data]="social"></app-social-input>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4 py-4 px-4 flex justify-end sm:px-6">
      <button
        type="submit"
        class="ml-5 bg-dodger-blue-700 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-dodger-blue-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-dodger-blue-500"
      >
        Save
      </button>
    </div>
  </div>
</form>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
