<div class="flex space-x-1">
  <div (click)="openModal()" class="add-story stories user-icon carousel snapgram px-5">
    <div
      class="story"
      data-id="1"
      data-photo="/avatar1.jpg"
      data-time="undefined"
      data-last-updated="1686393000"
    >
      <a class="item-link">
        <span class="item-preview">
          <img lazy="eager" src="../../../../../assets/images/add.svg" />
        </span>
        <span class="info">
          <strong class="name" itemprop="name">Add Story</strong>
        </span>
      </a>
    </div>
  </div>
  <div id="stories" [id]="'stories'"></div>
</div>
