<div class="flex-shrink-0 self-center flex">
  <div class="relative inline-block text-left">
    <div>
      <button
        (click)="toggleDropdown()"
        type="button"
        class="-m-2 p-2 rounded-full flex items-center text-gray-400 hover:text-gray-600"
        id="options-menu-0-button"
        aria-expanded="false"
        aria-haspopup="true"
      >
        <span class="sr-only">Open options</span>
        <!-- Heroicon name: solid/dots-vertical -->
        <svg
          class="h-5 w-5"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"
          />
        </svg>
      </button>
    </div>

    <!--
      Dropdown menu, show/hide based on menu state.

      Entering: "transition ease-out duration-100"
        From: "transform opacity-0 scale-95"
        To: "transform opacity-100 scale-100"
      Leaving: "transition ease-in duration-75"
        From: "transform opacity-100 scale-100"
        To: "transform opacity-0 scale-95"
    -->
    <div
      *ngIf="isOpen"
      [class.open]="isOpen"
      [@dropdownAnimation]="isOpen ? 'open' : 'closed'"
      class="z-50 origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
      role="menu"
      aria-orientation="vertical"
      aria-labelledby="options-menu-0-button"
      tabindex="-1"
    >
      <div class="" role="none">
        <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
        <!-- *ngIf="!isOnCurrentPost()" -->
        <!--           [routerLink]="'/v/post/' + post.id"
 -->

        <!--   *ngIf="isMyPost()"
          (click)="toggleEdit()" -->
        <a
          class="text-gray-700 flex px-4 py-2 text-sm stroke cursor-pointer hover:bg-gray-100"
          role="menuitem"
          tabindex="-1"
          id="options-menu-0-item-0"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="mr-3 h-5 w-5 text-gray-400 stroke-current stroke-2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"
            />
          </svg>

          <span>Edit Comment</span>
        </a>

        <!--           (click)="copyPostLink()"
 -->

        <!--           *ngIf="isMyPost()"
 -->
        <a
          (click)="openDeleteCommentPopup()"
          class="text-gray-700 flex px-4 py-2 text-sm cursor-pointer hover:bg-gray-100"
          role="menuitem"
          tabindex="-1"
          id="options-menu-0-item-1"
        >
          <!-- Heroicon name: solid/code -->

          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="mr-3 h-5 w-5 text-gray-400 stroke-current stroke-2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
            />
          </svg>

          <span>Remove Comment</span>
        </a>
        <a
          class="text-gray-700 flex px-4 py-2 text-sm cursor-pointer hover:bg-gray-100"
          role="menuitem"
          tabindex="-1"
          id="options-menu-0-item-2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="mr-3 h-5 w-5 text-gray-400 stroke-current stroke-2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3 3v1.5M3 21v-6m0 0l2.77-.693a9 9 0 016.208.682l.108.054a9 9 0 006.086.71l3.114-.732a48.524 48.524 0 01-.005-10.499l-3.11.732a9 9 0 01-6.085-.711l-.108-.054a9 9 0 00-6.208-.682L3 4.5M3 15V4.5"
            />
          </svg>

          <span>Report Comment</span>
        </a>
      </div>
    </div>
  </div>
</div>

<app-delete-comment-modal
  #modal
  *ngIf="this.modalService.isDeleteCommentOpen"
></app-delete-comment-modal>
