<div class="flex items-center space-x-5">
  <div class="flex items-center"></div>
  <div class="flex items-center">
    <div>
      <label id="listbox-label" class="sr-only"> Your mood </label>
      <div class="relative">
        <button
          type="button"
          class="relative -m-2.5 w-10 h-10 rounded-full flex items-center justify-center text-gray-400 hover:text-gray-500"
          aria-haspopup="listbox"
          aria-expanded="true"
          aria-labelledby="listbox-label"
        >
          <span class="flex items-center justify-center">
            <!-- Placeholder label, show/hide based on listbox state. -->
            <div
              (click)="toggleDropdown()"
              class="inline-flex space-x-2 text-gray-400 hover:text-gray-500 items-center justify-center"
            >
              <!-- Heroicon name: solid/emoji-happy -->

              <!-- Heroicon name: solid/thumb-up -->

              <div [ngSwitch]="reaction">
                <app-loved *ngSwitchCase="'Loved'"></app-loved>
                <app-liked *ngSwitchCase="'Liked'"></app-liked>
                <app-excited *ngSwitchCase="'Excited'"></app-excited>
                <app-happy *ngSwitchCase="'Happy'"></app-happy>
                <app-sad *ngSwitchCase="'Sad'"></app-sad>
                <app-screaming *ngSwitchCase="'Screaming'"></app-screaming>
                <svg
                  *ngSwitchDefault
                  class="h-5 w-5"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z"
                  />
                </svg>
              </div>
            </div>
            <!-- Selected item label, show/hide based on listbox state. -->
            <!--   <span>
              <div
                class="bg-red-500 w-8 h-8 rounded-full flex items-center justify-center"
              >
                <svg
                  class="flex-shrink-0 h-5 w-5 text-white"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M12.395 2.553a1 1 0 00-1.45-.385c-.345.23-.614.558-.822.88-.214.33-.403.713-.57 1.116-.334.804-.614 1.768-.84 2.734a31.365 31.365 0 00-.613 3.58 2.64 2.64 0 01-.945-1.067c-.328-.68-.398-1.534-.398-2.654A1 1 0 005.05 6.05 6.981 6.981 0 003 11a7 7 0 1011.95-4.95c-.592-.591-.98-.985-1.348-1.467-.363-.476-.724-1.063-1.207-2.03zM12.12 15.12A3 3 0 017 13s.879.5 2.5.5c0-1 .5-4 1.25-4.5.5 1 .786 1.293 1.371 1.879A2.99 2.99 0 0113 13a2.99 2.99 0 01-.879 2.121z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
              <span class="sr-only"> Excited </span>
            </span> -->
          </span>
        </button>

        <!--
          Select popover, show/hide based on select state.

          Entering: ""
            From: ""
            To: ""
          Leaving: "transition ease-in duration-100"
            From: "opacity-100"
            To: "opacity-0"
        -->
        <ul
          [class.open]="isOpen"
          [@dropdownAnimation]="isOpen ? 'open' : 'closed'"
          class="absolute z-10 mt-1 -ml-6 w-60 bg-white shadow rounded-lg py-3 text-base ring-1 ring-black ring-opacity-5 focus:outline-none sm:ml-auto sm:w-64 sm:text-sm"
          tabindex="-1"
          role="listbox"
          aria-labelledby="listbox-label"
          aria-activedescendant="listbox-option-5"
        >
          <!--
            Select option, manage highlight styles based on mouseenter/mouseleave and keyboard navigation.

            Highlighted: "bg-gray-100", Not Highlighted: "bg-white"
          -->
          <li
            class="cursor-pointer er bg-white   select-none relative py-2 px-3"
            id="listbox-option-0"
            role="option"
          >
            <div class="flex items-center">
              <app-excited (click)="react('Excited')"></app-excited>
              <span class="ml-3 block font-medium truncate"> Excited </span>
            </div>
          </li>

          <!--
            Select option, manage highlight styles based on mouseenter/mouseleave and keyboard navigation.

            Highlighted: "bg-gray-100", Not Highlighted: "bg-white"
          -->
          <li
            class="bg-white cursor-pointer er  select-none relative py-2 px-3"
            id="listbox-option-1"
            role="option"
          >
            <div class="flex items-center">
              <app-loved (click)="react('Loved')"></app-loved>
              <span class="ml-3 block font-medium truncate"> Loved </span>
            </div>
          </li>

          <!--
            Select option, manage highlight styles based on mouseenter/mouseleave and keyboard navigation.

            Highlighted: "bg-gray-100", Not Highlighted: "bg-white"
          -->
          <li
            class="bg-white cursor-pointer  select-none relative py-2 px-3"
            id="listbox-option-2"
            role="option"
          >
            <div class="flex items-center">
              <app-happy (click)="react('Happy')"></app-happy>
              <span class="ml-3 block font-medium truncate"> Happy </span>
            </div>
          </li>

          <!--
            Select option, manage highlight styles based on mouseenter/mouseleave and keyboard navigation.

            Highlighted: "bg-gray-100", Not Highlighted: "bg-white"
          -->
          <li
            class="bg-white cursor-pointer  select-none relative py-2 px-3"
            id="listbox-option-3"
            role="option"
          >
            <div class="flex items-center">
              <app-sad (click)="react('Sad')"></app-sad>
              <span class="ml-3 block font-medium truncate"> Sad </span>
            </div>
          </li>

          <!--
            Select option, manage highlight styles based on mouseenter/mouseleave and keyboard navigation.

            Highlighted: "bg-gray-100", Not Highlighted: "bg-white"
          -->
          <li
            class="bg-white cursor-pointer  select-none relative py-2 px-3"
            id="listbox-option-4"
            role="option"
          >
            <div class="flex items-center">
              <app-liked (click)="react('Liked')"></app-liked>
              <span class="ml-3 block font-medium truncate"> Liked </span>
            </div>
          </li>

          <!--
            Select option, manage highlight styles based on mouseenter/mouseleave and keyboard navigation.

            Highlighted: "bg-gray-100", Not Highlighted: "bg-white"
          -->
          <li
            class="bg-white cursor-pointer  select-none relative py-2 px-3"
            id="listbox-option-5"
            role="option"
          >
            <div class="flex items-center">
              <app-screaming (click)="react('Screaming')"></app-screaming>
              <span class="ml-3 block font-medium truncate"> Screaming </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
