<div class="min-h-full">
  <div class="py-10">
    <div
      class="max-w-3xl mx-auto sm:px-6 lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-12 lg:gap-8"
    >
      <div class="hidden lg:block lg:col-span-3 xl:col-span-2">
        <app-sidebar></app-sidebar>
      </div>
      <main class="lg:col-span-9 xl:col-span-6">
        <div class="my-5">
          <app-stories-carousel></app-stories-carousel>
        </div>

        <app-add-post [edit]="false"></app-add-post>

        <div class="mt-4">
          <h1 class="sr-only">Recent questions</h1>
          <ul role="list" class="space-y-4">
            <router-outlet></router-outlet>
          </ul>
        </div>
      </main>
      <aside class="hidden xl:block xl:col-span-4">
        <app-side-content></app-side-content>
      </aside>
    </div>
  </div>
</div>
