<div class="hidden relative overflow-hidden lg:block">
  <div>
    <img
      *ngIf="!user?.coverUrl"
      class="h-32 w-full object-cover lg:h-48"
      src="https://images.unsplash.com/photo-1444628838545-ac4016a5418a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"
      alt=""
    />
    <img
      *ngIf="user?.coverUrl"
      class="h-32 w-full object-cover lg:h-48"
      [src]="user?.coverUrl"
      alt=""
    />
  </div>
  <label
    *ngIf="canChangeCover(userData)"
    for="desktop-user-photo"
    class="absolute inset-0 w-full h-full bg-black bg-opacity-75 flex items-center justify-center text-sm font-medium text-white opacity-0 hover:opacity-100 focus-within:opacity-100"
  >
    <span>Change</span>
    <span class="sr-only"> user photo</span>
    <input
      type="file"
      ng2FileSelect
      [uploader]="uploader"
      id="desktop-user-photo"
      name="user-photo"
      class="absolute inset-0 w-full h-full opacity-0 cursor-pointer border-gray-300 rounded-md"
    />
  </label>
</div>
