<!-- component -->
<div class="my-5 flex h-screen antialiased text-gray-800">
  <div class="flex flex-row h-screen w-full overflow-hidden">
    <div class="flex flex-col py-8 pl-6 pr-2 w-64 bg-white flex-shrink-0">
      <div class="flex flex-col mt-8">
        <div class="flex flex-row items-center justify-between text-xs">
          <span class="font-bold">Active Conversations</span>
          <span
            class="flex items-center justify-center bg-gray-300 h-4 w-4 rounded-full"
            >
            {{
              chatRooms!.length
            }}
            </span
          >
        </div>
        <div
          class="flex flex-col space-y-1 mt-4 -mx-2 h-screen overflow-y-auto"
        >
          <div
          class="roomsclass"
            *ngFor="let room of chatRooms"
            role="list"
            infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50"
            (scrolled)="loadMoreRooms()"
            [infiniteScrollContainer]="'.roomsclass'"
          >
            <app-chat-room-tab
              [chatRoom]="room"
              [userId]="userId"
            ></app-chat-room-tab>
          </div>
        </div>
      </div>
    </div>
    <!--  -->

    <div class="flex-1">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
