<div class="sticky top-4 space-y-4">
  <section aria-labelledby="who-to-follow-heading" *ngIf="user">
    <div class="bg-white rounded-lg shadow">
      <div class="p-6">
        <h2
          id="who-to-follow-heading"
          class="text-base font-medium text-gray-900"
        >
          Who to follow
        </h2>
        <div class="mt-6 flow-root">
          <ul role="list" class="-my-4 divide-y divide-gray-200">
            <li class="flex items-center py-4 space-x-3">
              <div class="flex-shrink-0">
                <app-avatar
                  *ngIf="user"
                  [user]="user"
                  avatarStyle="h-8 w-8 rounded-full ring-4 ring-white sm:h-10 sm:w-10"
                ></app-avatar>
              </div>
              <div class="min-w-0 flex-1">
                <p
                  class="text-sm font-medium text-gray-900"
                  *ngIf="user.firstName || user.lastName"
                >
                  <a href="#">{{ user.firstName }} {{ user.lastName }}</a>
                </p>
                <p class="text-sm text-gray-500">
                  <a href="#" *ngIf="user.userName">@{{ user.userName }}</a>
                </p>
              </div>
              <div class="flex-shrink-0">
                <button
                  type="button"
                  class="inline-flex items-center px-3 py-0.5 rounded-full bg-dodger-blue-50 text-sm font-medium text-dodger-blue-700 hover:bg-dodger-blue-100"
                >
                  <!-- Heroicon name: solid/plus-sm -->
                  <svg
                    class="-ml-1 mr-0.5 h-5 w-5 text-dodger-blue-400"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  <span> Follow </span>
                </button>
              </div>
            </li>

            <!-- More people... -->
          </ul>
        </div>
        <div class="mt-6">
          <a
            href="#"
            class="w-full block text-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50"
          >
            View all
          </a>
        </div>
      </div>
    </div>
  </section>
  <section aria-labelledby="trending-heading" *ngIf="post">
    <div class="bg-white rounded-lg shadow">
      <div class="p-6">
        <h2 id="trending-heading" class="text-base font-medium text-gray-900">
          Trending
        </h2>
        <div class="mt-6 flow-root">
          <ul role="list" class="-my-4 divide-y divide-gray-200">
            <li class="flex py-4 space-x-3">
              <div class="flex-shrink-0">
                <app-avatar
                *ngIf="post.user"
                [user]="post.user"
                avatarStyle="h-8 w-8 rounded-full ring-4 ring-white sm:h-10 sm:w-10"
              ></app-avatar>
              </div>
              <div class="min-w-0 flex-1">
                <p class="text-sm text-gray-800" *ngIf="post.title">
                  {{ post.title }}
                </p>
                <div class="mt-2 flex">
                  <span class="inline-flex items-center text-sm">
                    <button
                      type="button"
                      class="inline-flex space-x-2 text-gray-400 hover:text-gray-500"
                    >
                      <!-- Heroicon name: solid/chat-alt -->
                      <svg
                        class="h-5 w-5"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z"
                          clip-rule="evenodd"
                        />
                      </svg>
                      <span
                        class="font-medium text-gray-900"
                        *ngIf="commentCount >= 0"
                        >{{ commentCount | shortNumber }}</span
                      >
                    </button>
                  </span>
                </div>
              </div>
            </li>

            <!-- More posts... -->
          </ul>
        </div>
        <div class="mt-6">
          <a
            href="#"
            class="w-full block text-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50"
          >
            View all
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
